node_modules
dist
dist-ssr
*.local

# env: solo se versiona el ejemplo
.env*
!.env.example

.vercel
*.tsbuildinfo

.DS_Store
*.pem

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.vscode/*
!.vscode/extensions.json
.idea
